@import "src/index";

.register-page .card-register .card-header.records-title img {
  margin-left: 0;
  margin-top: -260px;
  width: 455px;
}

/*
 * Container style
 */
.table-responsive {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

table {
  border-collapse: collapse; // Prevent double borders
}

@media (min-width: 576px) {
  .records {
    &.offset-md-3 {
      margin-left: 0;
    }

    &.col-md-6 {
      max-width: 100%;
      flex-basis: auto;
    }
  }
}

.records {
  & .last-column {
    display: flex;
    justify-content: space-between;

    .edit-buttons {
      white-space: nowrap;
      align-self: center;
    }
  }

  & .card > .card-body .card-title {
    font-weight: 900;
    text-transform: lowercase;
    font-size: x-large;
    margin-left: 10px;
    color: $black;
    position: fixed;
    margin-top: -42px;
  }

  & .card-body .user-info {
    z-index: -1;
    margin-left: 0;

    position: inherit;
    width: 135px;
    height: 40px;
  }

  & .card-body .records-info {
    z-index: -1;

    margin-left: 0;
    position: inherit;

    width: 120px;
    height: 40px;
  }

  & .table-responsive {
    padding-bottom: 0;
  }

  & .records-table-header {
    height: 34px;
    display: inline;
  }

  & .add-button {
    padding: 12px;
    position: fixed;
    margin-top: 1px;
    margin-left: 25px;
  }
}