@import "src/index";

/*
 * Container style
 */
.table-responsive {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

table {
  border-collapse: collapse; // Prevent double borders
}

@media (min-width: 576px) {
  .offset-md-3 {
    margin-left: 0;
  }

  .col-md-6 {
    max-width: 100%;
    flex-basis: auto;
  }
}