@import "src/scss/input-group";
@import "src/scss/forms";
@import "src/scss/checkboxes-radio";
@import "src/scss/buttons";
@import "src/scss/dropdown";
@import "src/scss/tables";
@import "src/scss/modal";
@import "src/scss/navbar";
@import "src/scss/tooltip";
@import "src/scss/variables";
@import "src/scss/functions";
@import "src/scss/card";
@import "src/scss/card-register";
@import "src/scss/root";
@import "src/scss/type";
@import "src/scss/nucleo-icons";

*,
*::before,
*::after {
  box-sizing: border-box; // 1
}

html {
  font-family: sans-serif; // 2
  line-height: 1.15; // 3
  -webkit-text-size-adjust: 100%; // 4
  -ms-text-size-adjust: 100%; // 4
  -ms-overflow-style: scrollbar; // 5
  -webkit-tap-highlight-color: rgba($black, 0); // 6
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

body {
  margin: 0; // 1
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $body-color;
  text-align: left; // 3
  background-color: $body-bg; // 2
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
@media (min-width: 576px) {
  .container {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-first {
    order: -1; }
  .order-sm-last {
    order: 13; }
  .order-sm-0 {
    order: 0; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-first {
    order: -1; }
  .order-md-last {
    order: 13; }
  .order-md-0 {
    order: 0; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-first {
    order: -1; }
  .order-lg-last {
    order: 13; }
  .order-lg-0 {
    order: 0; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-first {
    order: -1; }
  .order-xl-last {
    order: 13; }
  .order-xl-0 {
    order: 0; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

//
// Typography
//

// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
// stylelint-disable selector-list-comma-newline-after
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
}
// stylelint-enable selector-list-comma-newline-after

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: $headings-line-height;

}
p{
  font-weight: $font-weight-light;
}

button,
input,
optgroup,
select,
textarea{
  font-family: $font-family-base;
}
.card{
  h1,h2,h3,h4,h5,h6,p{
    color: $opacity-8;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: $font-weight-normal;
  color: $opacity-8;
}

a{
  color: $primary-states;
  font-weight: $font-weight-light;
  &:hover,
  &:focus{
    color: $primary;
  }
}
h1, .h1 {
  line-height: 1.05;
  margin-bottom: $margin-base-vertical * 2;

  small{
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    opacity: .8;
  }

}
h2, .h2{
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.2;

}
h3, .h3{
  margin-bottom: $margin-base-vertical * 2;
  line-height: 1.4em;
}
h4, .h4{
  line-height: 1.45em;
  margin-bottom: $margin-base-vertical;

  & + .category,
  &.title + .category{
    margin-top: -10px;
  }
}
h5, .h5 {
  line-height: 1.4em;
  margin-bottom: 15px;
}
h6, .h6{
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}
p{
  color: $opacity-8;
  margin-bottom: 5px;

  &.description{
    font-size: 1.14em;
  }
}


.title{
  margin-top: 30px;
  margin-bottom: 25px;
  font-weight: $font-weight-bold;
  color: $opacity-8;


  &.title-up{
    text-transform: uppercase;

    a{
      color: $black;
      text-decoration: none;
    }
  }
  & + .category{
    margin-top: -10px;
  }
}

.description,
.card-description,
.footer-big p,
.card .footer .stats{
  color: $dark-gray;
  font-weight: $font-weight-light;
}
.category,
.card-category{
  text-transform: capitalize;
  font-weight: $font-weight-normal;
  color: rgba($white, 0.6);
  font-size: $font-size-sm;
}

.card-category{
  font-size: $font-size-sm;
}

.blockquote{
  border-left: none;
  border: 1px solid $default;
  padding: 20px;
  font-size: $blockquote-font-size;
  line-height: 1.8;

  small{
    color: $default;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  &.blockquote-primary{
    border-color: $primary;
    color: $primary;

    small{
      color: $primary;
    }
  }

  &.blockquote-danger{
    border-color: $danger;
    color: $danger;

    small{
      color: $danger;
    }
  }

  &.blockquote-white{
    border-color: $opacity-8;
    color: $white;

    small{
      color: $opacity-8;
    }
  }
}

//
// Links
//

a {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.
  -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul li, ol li{
  color: $white;
}

pre{
  color: $opacity-8;
}

hr{
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: $spacer;
  margin-bottom: $spacer;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;

  @include hover-focus {
    color: inherit;
    text-decoration: none;
  }

  &:focus {
    outline: 0;
  }
}

.page-header{
  .carousel .carousel-indicators{
    bottom: 60px;
  }

  .container{
    color: $white;
  }

  .title{
    color: $white;
  }

  &.header-small{
    height: 65vh;
    min-height: 65vh;

    .container{
      padding-top: 20vh;
    }
  }
}

.page-header{
  min-height: 100vh;
  max-height: 100vh;
  padding: 0;
  color: $white;
  position: relative;
  overflow: hidden;

  .page-header-image{
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  & > .content{
    margin-top: 150px;
    text-align: center;
    margin-bottom: 50px;
  }

  .signup-page & {
    max-height: fit-content;
  }

  .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;

    &.brand {
      width: 47%;
    }

  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .container{
    height: 100%;
    z-index: 1;
  }

  .category,
  .description{
    color: $opacity-8;
  }

  &.page-header-small{
    min-height: 60vh;
    max-height: 440px;
  }

  &.page-header-mini{
    min-height: 40vh;
    max-height: 340px;
  }

  .title{
    margin-bottom: 15px;
  }
  .title + h4{
    margin-top: 10px;
  }

  &.header-filter:after {
    background: rgba(0,0,0,.5);
  }
}

.register-page {
  background-color: #171941;
}

.register-page .link {
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
}

.register-page .register-bg {
  height: 700px;
  background: linear-gradient(to bottom, transparent 0%, #1f2251 100%);
  width: 700px;
  position: relative;
  right: -600px;
  top: -750px;
  border-radius: 20%;
  transform: rotate(-15deg);
}

.register-page .square {
  position: absolute;
  transition: 0.5s ease-out;
  border-radius: 2px;
  background-size: 100%;
  border-radius: 20%;
}

.register-page .square-1 {
  height: 300px;
  width: 300px;
  background-image: url("/img/square1.png");
  top: 175px;
  right: 150px;
  opacity: 0.8;
}

.register-page .square-2 {
  height: 120px;
  width: 120px;
  background-image: url("/img/square2.png");
  opacity: 0.9;
  top: 310px;
  right: 390px;
}

.register-page .square-3 {
  width: 200px;
  height: 200px;
  background-image: url("/img/square3.png");
  opacity: 0.3;
  top: -50px;
  right: 400px;
}

.register-page .square-4 {
  height: 200px;
  width: 200px;
  background-image: url("/img/square4.png");
  right: -50px;
  top: 525px;
}

.register-page .square-5 {
  height: 150px;
  width: 150px;
  background-image: url("/img/square5.png");
  opacity: 0.5;
  top: 500px;
  right: 470px;
}

.register-page .square-6 {
  height: 70px;
  width: 70px;
  background-image: url("/img/square5.png");
  opacity: 0.9;
  top: 105px;
  right: 20px;
}

.register-page .square-7 {
  height: 200px;
  width: 200px;
  background-image: url("/img/square5.png");
  left: -100px;
  top: 100px;
  opacity: .4;
}

.register-page .square-8 {
  height: 100px;
  width: 100px;
  background-image: url("/img/square1.png");
  left: 300px;
  top: 400px;
  opacity: .4;
}

.register-page {
  background-image: url("/img/dots.png");
  background-size: contain;
}

.register-page .squares, .register-page .square, .section.section-signup .squares, .section.section-signup .square {
  background: #ba54f5;
  background: -webkit-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -o-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: -moz-linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
  background: linear-gradient(0deg, #ba54f5 0%, #e14eca 100%);
}

.navbar {
  padding: 0.9375rem;
  width: 100%;
  z-index: 1050;
  background: #e14eca; }
.navbar .photo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden; }
.navbar .photo img {
  width: 100%; }
.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  color: inherit;
  line-height: 20px;
  display: inline-flex; }
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.8); }
.navbar .navbar-wrapper {
  display: flex;
  align-items: center; }
.navbar .navbar-text {
  color: #ffffff; }
.navbar .btn {
  margin: 0 5px 0 10px; }
.navbar p {
  margin: 0; }
.navbar.navbar-absolute {
  position: absolute;
  z-index: 1050; }
.navbar.navbar-transparent {
  background: transparent !important;
  padding-top: 25px; }
.navbar.bg-white .navbar-nav .search-bar.input-group i {
  color: #222a42; }
.navbar.bg-white .navbar-nav .search-bar.input-group .form-control {
  background: rgba(34, 42, 66, 0.1);
  border-radius: 4px; }
.navbar.bg-white .navbar-nav a.nav-link {
  color: #222a42 !important; }
.navbar.bg-white .navbar-nav a.nav-link p {
  color: #222a42; }
.navbar.bg-white .navbar-text, .navbar.bg-white .navbar-brand {
  color: #222a42; }
.navbar.bg-white .form-control {
  color: #222a42 !important; }
.navbar.bg-white .form-control::placeholder {
  color: #9A9A9A !important; }
.navbar.bg-dark {
  background: #222a42 !important; }
.navbar.bg-primary {
  background-color: #e14eca !important; }
.navbar.bg-warning {
  background-color: #ff8d72 !important; }
.navbar.bg-info {
  background-color: #1d8cf8 !important; }
.navbar.bg-success {
  background-color: #00bf9a !important; }
.navbar.bg-danger {
  background-color: #fd5d93 !important; }
.navbar .navbar-brand {
  position: relative;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1rem; }
.navbar .navbar-brand span {
  font-weight: 600; }
.navbar .navbar-toggle button:focus, .navbar .navbar-toggler {
  outline: none; }

.navbar-minimize-fixed {
  position: fixed;
  margin-left: 40px;
  margin-top: 14px;
  transition: 0.3s ease;
  color: white;
  z-index: 20;
  opacity: 0;
  transition: 0.2s ease; }
.navbar-minimize-fixed button i {
  font-size: 18px; }
